body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  font-size: 17px;
}

.customer-table {
    width: 100%;
    height: auto;
}

.customer-table, .customer-table th, .customer-table td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
}

.hdr-top {
    padding: 15px;
    background: #005050;
    color: #fff;
}

.hdr-top a {
    color: #fff;
    text-decoration: none;
}

.flex {
    display: flex;
}

.me-10 {
    margin-right: 10px;
}

.green {
    color: #0f0;
}

.red {
    color: #f00;
}

.danger {
    color: #ffd800;
}

.green a {
    color: #0f0;
    text-decoration: none;
}

.red a {
    color: #f00;
    text-decoration: none;
}

.danger a {
    color: #ffd800;
    text-decoration: none;
}

.footer {
    background: #005050;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.footer a, .register-btn a {
    color: #fff;
    text-decoration: none;
}

a.logo {
    color: aqua;
}

.register-btn {
    position: fixed;
    top: 100px;
    right: 50px;
    padding: 10px;
    border-radius: 8px;
    background: green;
}

.hidden {
    display: none;
}